<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        @* Brand and toggle get grouped for better mobile display *@
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="/@(model.locale === model.defaultLocale ? '' : model.locale)">
                <img alt="Brand" src="/assets/monmould_logo_short.png" class="img-responsive">
            </a>
        </div>

        @* Collect the nav links, forms, and other content for toggling *@
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @{
                    var collection = model.collections["root_" + model.locale];
                    var collectionSorted = collection.sort(function(a, b) { 
                        return a.menuPosition - b.menuPosition;
                    });

                    collectionSorted.forEach(function(a) {
                        let key = `menu.${a.uri || 'index'}`;

                        <li><a href="/@a.path">@model.__(key)</a></li>
                    });
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @model.locales.forEach(function(l) {
                    var lang = model.lang(l);
                    var href = '/' + (lang ? lang.path : '/');

                    <li class="@(lang && model.locale === l ? 'active' : '')">
                        <a href="@html.raw(href)">@l.toUpperCase()</a>
                    </li>
                })
            </ul>
        </div>
        @* /.navbar-collapse *@
    </div>
    @* /.container-fluid *@
</nav>